.modal-container {
  position: fixed; /* Asegura que el modal se posicione de manera absoluta respecto al viewport */
  top: 50%; /* Centra el modal verticalmente */
  left: 50%; /* Centra el modal horizontalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Ajusta la transformación para centrar exactamente el modal */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  z-index: 1050; /* Debería ser suficiente para estar sobre otros elementos, asumiendo que no hay valores más altos en otros elementos */
  background-color: #fff; /* Ajusta el color de fondo del modal */
  padding: 20px; /* Ajusta el espacio interno del modal */
  border-radius: 10px; /* Ajusta el radio de las esquinas del modal */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave alrededor del modal */
  width: 30vw;
  height: auto;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.empleado-imagen {
  width: 100%;
  max-width: 350px; /* Ajusta el tamaño como prefieras */
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.empleado-info {
  text-align: center;
}

.empleado-info h2 {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  font-size: 24pt;
}

.empleado-info p {
  margin: 5px 0;
  font-weight: 500;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #000000;
}
