<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <div class="titulos">
            <h1>Análisis</h1>
            <h1 class="titleColor">Contable</h1>
        </div>

        <div class="Blocks">

            <a 
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" >Inventario </h5>

                <!--lista de productos-->
                <ul class="lista-productos">
                    <li>Producto 1: 500 unidades</li>
                    <li>Producto 2 : 500 unidades</li>
                    <li>Producto 3 : 500 unidades</li>
                </ul>
            </a>


            <a 
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" >Información</h5>

                <!--lista de empleados-->
                <ul class="lista-productos">
                    <li>Producto 1: 50 % subio</li>
                    <li>Producto 2 : 40 % subio</li>
                    <li>Producto 3 : 30 % subio</li>
                </ul>
            </a>

            <a 
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" >Análisis de negocio</h5>

                <div class="graficos-contenedor">
                    <div class="contenedor-grafico">
                        <canvas id="miGrafico"></canvas>
                    </div>
                </div>
            </a>


            <a 
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" >Recomendaciones</h5>

                <!-- lista de recomendaciones -->
                <ul class="lista-productos">
                    <li>Recomendacion 1 : subir el precio </li>
                    <li>Recomendacion 2 : bajar el precio </li>
                    <li>Recomendacion 3 : dejarl el precio igual</li>


                </ul>

            </a>



        </div>
    </div>
</div>