<!-- detalle-producto-modal.component.html -->
<div class="modal-content">
    <img [src]="data.producto.imagenURL" alt="{{ data.producto.nombre }}" class="product-image" />
    <div class="product-details">
        <h2>{{ data.producto.nombre }}</h2>
        <p>{{ data.producto.descripcion }}</p>
        <h3>Precio: {{ data.producto.precio  }}</h3>
        <h3>Stock: {{ data.producto.cantidad }}</h3>
    </div>
    <img src="../../assets/Img/Otros/cerrar.png" alt="Cerrar" class="close-icon" (click)="dialogRef.close()" />
</div>
