*,
*::before,
*::after {
  box-sizing: border-box;
}


.navbar {
  width: 100%;
  height: 95vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar-header {
  font-size: 12pt;
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%;
  color: #414141;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.titulo-header {
  font-size: 14pt;
  width: 100%;
  font-style: italic;
  border-bottom: 1px solid #56bb91;
  padding-bottom: 5px;
  color: #56bb91;
}

.servicios-header {
  margin-top: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.nav-links li {
  list-style: none;
  margin: 10px 0;
  font-size: 12pt;
}

ul {
  padding: 0;
  margin-bottom: 40px;
}

li {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.blockLink {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}

.icon {
  flex-shrink: 0;
  width: 30px;
  margin-right: 10px;
}

.blockLink,
.cerrar-sesion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  cursor: pointer;
}

.cerrar-sesion {
  margin-top: auto;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 28pt; /* Ajusta esto según tus necesidades */
  position: fixed;
  z-index: 1050; /* Asegura que el ícono esté sobre otros contenidos */
}

/* Estilos para móviles */
@media (max-width: 768px) {

  .navbar {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    box-shadow: none;
  }

  .hamburger {
    display: block;
    z-index: 1002;
    position: fixed; /* Asegura que el ícono se posicione en relación con la ventana del navegador */
    top: 0;
    left: 0; /* Cambia esto de right: 0; a left: 0; */
    padding: 10px; /* Añade un poco de padding para que no esté justo en el borde */
    margin-left: 10px;
  }
  

  .nav-links {
    margin-top: 10px;
    display: none;
    position: fixed;
    padding: 50px;
    top: 0;
    left: 0;
    width: 60%; /* Ajusta al 100% del ancho de la pantalla */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    min-height: 100vh; /* Asegura que el menú tenga al menos la altura de la pantalla */
    flex-direction: column;
    background-color: #fff; /* O el color que prefieras */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el menú esté sobre otros contenidos, pero debajo de la hamburguesa */
  }

  .nav-links.active {
    display: flex; /* Muestra el menú cuando está activo */
  }

}
