@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100vh; 
    scroll-behavior: smooth; 
    background: linear-gradient(120deg, #eeeeee 50%, #56BB91 40%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}

h1, button{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

input, button{
    font-family: 'Roboto Condensed', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blur-background {
    filter: blur(2px); /* Ajusta el nivel de desenfoque según prefieras */
    -webkit-filter: blur(2px); /* Ajusta el nivel de desenfoque según prefieras */

}

