<div class="app-layout">
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor">
        <div class="titulos">
            <h1>Bienvenida</h1>
            <h1 class="titleColor">{{nombre}}!</h1>
        </div>

        <div class="Blocks">

            <a href="#"
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Inventario </h5>

                <!--lista de productos-->
                <ul class="lista-productos">
                    <li>Producto 1: 500 unidades</li>
                    <li>Producto 2 : 500 unidades</li>
                    <li>Producto 3 : 500 unidades</li>
                </ul>
            </a>


            <a href="#"
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nómina</h5>


                <!--lista de empleados-->
                <ul class="lista-productos">
                    <li>Empleado 1: 1.250.000</li>
                    <li>Empleado 2: 1.250.000</li>
                    <li>Empleado 3: 9.584.000</li>
                    <li>Empleado 4: 7.963.458</li>
                </ul>
            </a>

            <a href="" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Análisis</h5>
                
                <div class="graficos-contenedor">
                    <div class="contenedor-grafico">
                        <canvas id="miGrafico"></canvas>
                    </div>
                    
                    <div class="contenedor-grafico">
                        <canvas id="miGrafico1"></canvas>
                    </div>
                </div>
            </a>
            

            <a href="#"
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Gestion contable</h5>

                <!--Pasivos activos patrimonio-->
                <ul class="lista-productos">
                    <li>Activos: 1.250.000</li>
                    <li>Pasivos: 1.250.000</li>
                    <li>Patrimonio: 9.584.000</li>
                </ul>
                
            </a>

            <a href="#"
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ventas</h5>

                <!--lista de ventas x mes -->
                <ul class="lista-productos">
                    <li>Junio: 1.250.000</li>
                    <li>Julio: 1.250.000</li>
                    <li>Agosto: 9.584.000</li>
                </ul>

            </a>

        </div>
    </div>
</div>